ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  height: auto;
  width: 100%;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery > .gallery-item {
  flex-basis: calc((100% - 48px) / 3);
}
